.header-container {
  width: 100%;
  max-width: 1640px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.carousel-container {
  width: 100%;
  max-width: 1490px;
  margin: 0 auto;
  padding: 0 20px;
}

.radoiator-container {
  width: 100%;
  max-width: 1940px;
  margin: 0 auto;
}
.rado-container {
  width: 100%;
  max-width: 1680px;
  padding: 0 20px;
  margin: 0 auto;
}

.about-container {
  width: 100%;
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}
.smistitel-container {
  width: 100%;
  max-width: 1490px;
  padding: 0 20px;
  margin: 0 auto;
}
